body {
    padding: 30px;
}

#episodios{
    width: 100%;
    height: 600px;
    position: relative;
    background: linear-gradient(#0000FF, #0000A3); 
    transform: skew(0deg, -5deg) translateY(-120px);
}

#ultimas_novedades {
    width: 100%;
    height: 500px;
    position: relative;
    background: linear-gradient(#0000FF, #0000A3); 
}

#podcast {
    padding: 150px 200px;
    transform: skew(0deg, 10deg)

}

svg {
    position: relative;
    top: 0;
    width: 100%;
    height: 10vw;
    fill: white;
}

#ultimas_novedades h3{
    margin-left: 500px;
}

